.tagButton {
  height: 20px;
  font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 2px;
  border: 1px solid #4f4c5c;
  border-radius: 20px;
  padding: 10px;
  background: 0;
  color: #ada7a7;
  font-size: 12px;
}
