.main_container {
  margin: 6px;
  padding: 12px;
  border: 2px solid #4f4c5c;
  border-radius: 10px;
}

.button-orig-src {
  border: 0px;
  background: #312e3c;
  color: #1890ff;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}
